<div class="row">
  <!-- [ sample-page ] start -->
  <!-- Import RouterLink from Angular Router -->

<div class="col-md-6">
  <app-card cardTitle="Repertoire" [options]="false" blockClass="pc-component">
    <p class="lead m-t-0"> Ajouter un contact</p>
    <br />

    <button routerLink="repertoire" class="btn btn-primary">Click ici</button>
  </app-card>
</div>

<div class="col-md-6">
  <app-card cardTitle="Contextual Text Colors" [options]="false" blockClass="pc-component">
  
    <button class="btn btn-primary">Click ici</button>
  </app-card>
</div>

   
  <!-- [ sample-page ] end -->
</div>
