$borderWidth: 5px;

@mixin buttonLayer {
  content: "";


  width: 100%;
 	height: 100%;
  margin: auto;
	border: $borderWidth solid transparent;
  opacity: 0;
  pointer-events: none;
 	border-image-slice: 1;
}

.gradient-button {
  position: centre;
  z-index: 1;
  display: block;
  top: calc(50% - 2.5rem - 5px);
  left: calc(50% - 6rem - 5px);
	height: 3rem;
	width:10rem;
  margin: auto;
	background: transparent linear-gradient(to top left, rgba(7, 144, 218, 0.2) 0%, rgba(13, 136, 218, 0.2) 40%, rgba(49,128,135,.2) 100%);
	border: $borderWidth solid transparent;
	border-image-source: linear-gradient(to top left, rgb(228, 228, 3) 0%, rgb(27, 6, 189) 40%, rgb(2, 5, 17) 80%);
	border-image-slice: 0.8;
  transition: transform .25s;
  letter-spacing: .1rem;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.0rem;
  font-weight: 350;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #074685;


  &:active {
    transform: scale(.96);

    &::before {
      opacity: 1;
    }
  }

}
//input
input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #0907ae;
	background: rgba(#9ec3ed, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #0f088c;

}

